.btn {
  display: block;
  color: @cl-fnt__title;
  font-size: 18px;
  line-height: 36px;
  text-decoration: none;
  text-align: center;
  margin: 0;
  padding: 0 0 0 0;
  border: 1px solid #9c9a97;

  &--our-works {
    color: @cl-bg__body;
    width: 165px;
    // height: 50px;
    margin: 45px auto 0 auto;
    border-width: 0;
    background-color: @cl-fnt__main-nav--hvr;
  }

  &--pricing {
    font-size: 14px;
    width: 100px;
    margin: 30px auto 0 auto;
  }

  &--contact-us {
    color: @cl-bg__body;
    font-family: "Roboto Light", "Arial", sans-serif;
    width: 165px;
    // height: 50px;
    margin: 30px auto 0 auto;
    border-width: 0;
    background-color: @cl-fnt__main-nav--hvr;
    cursor: pointer;
  }

  &--subscribe {
    color: @cl-bg__body;
    font-family: "Roboto Light", "Arial", sans-serif;
    width: 105px;
    margin: 15px 0 0 0;
    border-width: 0;
    background-color: @cl-fnt__main-nav--hvr;
    cursor: pointer;
  }
}
