.btn {
  display: block;
  color: @cl-bg__body;
  font-size: 18px;
  line-height: 36px;
  text-decoration: none;
  text-align: center;
  margin: 0;
  padding: 15px;
  background-color: @cl-fnt__main-nav--hvr;

  &--our-works {
    width: 165px;
    height: 20px;
    margin: 45px auto 0 auto;
  }
}
