.contact-us__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  padding: 19px 0px 0px 0px;
  width: 895px;
}

.contact-us__form input {
  color: @clr_lightyellow;
  font-family: @fnt_Roboto;
  font-size: 14px;
  font-style: italic;
  font-weight: 100;
  line-height: 36px;
  margin: 0;
  padding: 0 20px 0 20px;
  border: 1px solid @clr_lightyellow;
  width: 388px;
  height: 48px;
  background-color: transparent;
}

.contact-us__form textarea {
  color: @clr_lightyellow;
  font-family: @fnt_Roboto;
  font-size: 14px;
  font-style: italic;
  font-weight: 100;
  line-height: 36px;
  margin: 28px 0 0 0;
  padding: 0 20px;
  border: 1px solid @clr_lightyellow;
  max-width: 853px;
  min-width: 853px;
  max-height: 213px;
  min-height: 213px;
  background-color: transparent;
}

.contact-us__btn-wrapper {
  flex-grow: 1;
  text-align: center;
  padding: 30px 0px 0px 0px;
}
