.page-header {
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  z-index: 1;
  border-bottom: 1px solid @clr_gray;
  background-color: #000000;
}

.page-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 43px 0px 36px 0px;
  width: 924px;
}

.page-header__logo {

}

.page-header__logo-img {

}
