.page-header {
  height: 802px;
  background: @cl-bg__page-header url("../img/page-header.jpg") no-repeat center;
}

.page-header__menu {
  height: 119px;
  border-bottom: 1px solid #4b4a4b;
}

.page-header__wrapper {
  margin: 0 auto;
  width: 1170px;
}

.page-header__label {
  color: #fffcf4;
  font-family: "Exo", "Arial", sans-serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  margin: 260px auto 0px auto;
  width: 560px;
}

.page-header__label b {
  color: #1dde85;
  font-weight: 900;
}

.page-header__desc {
  color: #ffffff;
  font-family: "Roboto Light", "Arial", sans-serif;
  font-size: 18px;
  line-height: 36px;
  text-align: center;
  margin: 0 auto;
  width: 915px;
}
