.section-title {
  color: #454546;
  font-family: @fnt_Roboto;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  text-align: center;
  margin: 0;
  padding: 0;

  & b {
    color: #1dde85;
  }
}
